.board {
    margin: 2.5rem;
    /* width: 900px; */
    /* height: 900px; */
    border: 5px solid;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr); */
}

.row {
    /* width: 100%; */
    height: 4rem;
    border: 1px solid blue;

    display: flex;
    /* flex-wrap: nowrap; */
    flex-flow: row nowrap;
}

b {
    font-size: 20px;
}